*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    background: url(22.jfif) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-backgound-size:cover;
    background-size: cover;
}
.container{
    width: 100%;
    min-height: 30vh;
    padding-left: 6%;
    padding right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
,navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;

}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    min-height: 20vh;
}

.col-1{
    flex-basis: 40%;
    position: realtive;
    margin-left: 50px;
}
.col-1 h2{
    font-size: 54px;
}
.col-1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}
.col-1 p{
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}
.col-1 h4{
    margin: 30px 0;
    font-size: 20px;
}
button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline:none;
    color:#fff;
    background: linear-gradient(to right,#fb5283,#ff3527);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}
button img{
    width: 30px;
    display: none;
    
}
button:hover img{
    display: block;
}


button:hover{
    width: 160px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    left:-40px;
    top:8px;

}
.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center
}
.col-2 .headphones{
    width: 90%
}

.color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#ff54a2, #ff575a);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
}
@media only screen and (max-width:70px){
    nav ul{
        width: 100%;
        background: linear-gradient(#ff54a2,#ff575a);
        position: absolute;
        top:75px;
        right: 0;
        z-index: 2;
    }
}







































